.input-container {
  display: inline-block;
  position: relative;
  width: 100%;
}

.field-label {
  position: absolute;
  font-size: 1rem;
  left: 0rem;
  top: -1.5rem;
  color: rgb(50, 50, 50);
  opacity: 0;
  transition: all 0.2s;
  font-size: 1rem;
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  color: rgb(50, 50, 50);
  font-size: 1.5rem;
}

.input-field {
  border: none;
  padding: 1rem;
  font-size: 1.5rem;
  font-family: inherit;
  margin-right: 1rem;
  transition: all 0.2s, border 0.4s;
  background-color: white;
  width: 100%;
  color: rgb(50, 50, 50);
  border-bottom: 3px solid transparent;
}

.input-field::placeholder {
  transition: all 0.2s;
}

.input-field:not(:placeholder-shown) + .field-label {
  opacity: 1;
}

.input-field.has-icon {
  padding-left: 4rem;
}

.valid {
  border-bottom: 3px solid #55efc4;
}

.invalid {
  border-bottom: 3px solid #d63031;
}

.span-full {
  grid-column: auto / -1;
}

.input-container.big {
  grid-column: span 2;
}

.input-container.big > textarea {
  resize: none;
}
