.navbar {
  background-color: #55efc4;
  color: white;
  padding: 2rem;
  text-align: center;
  margin-bottom: 3rem;
}

.navbar-title {
  font-size: 3rem;
  font-weight: 300;
}

.navbar-title-icon {
  margin-right: 1rem;
}
